.footer {
    background-color: #fff5e6;
    padding: 40px 60px 20px;
    color: #333;
    font-size: 15px;
    border-top: 1px solid #f0e0cc;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.05);
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex: 1;
    min-width: 250px;
  }
  
  .footer-column h3,
  .footer-column h4 {
    color: #d97706;
    margin-bottom: 12px;
    font-size: 20px;
  }
  
  .footer-column p {
    margin: 6px 0;
    color: #444;
    font-size: 15px;
  }
  
  .social-icons {
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }
  
  .social-icons a {
    font-size: 26px;
    color: #d97706;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #e67e00;
    transform: scale(1.3);
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #777;
  }
  

  /* gmap */
  .footer-map {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .footer-column img {
    height: 200px;
    width: 300px;
  }
  
  .footer-map:hover {
    transform: scale(1.03);
  }